/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* TO ALL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

ion-icon {
  color: #a8a8a8;
  font-size: 1em;
}

::-webkit-scrollbar {
  display: none; /* Chrome */
}

/* HTML elements */

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background: url(images/pexels-alex-conchillos-3648850.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

input {
  color: #a8a8a8;
}

section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Classes */

.logo {
  font-size: 2em;
  color: #a8a8a8;
  user-select: none;
}

.home-page-text {
  color: #a8a8a8;
  text-align: center;
  font-size: 2.5em;
}

.btnLogin-popUp {
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid #a8a8a8;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.1em;
  color: #a8a8a8;
  transition: 0.5s;
}

.btnLogin-popUp:hover {
  background-color: #a8a8a8;
  color: black;
}

.wrapper {
  position: relative;
  width: 400px;
  height: 440px;
  background-color: transparent;
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transition: transform 0.5s ease;
}

.wrapper.active-popUp {
  transform: scale(1);
}

.wrapper .form-box {
  width: 100%;
  padding: 40px;
}

.wrapper .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5em;
  margin: 15px;
  cursor: pointer;
}

.form-box h2 {
  font-size: 2em;
  color: #a8a8a8;
  text-align: center;
}

.form-box h4 {
  color: #a8a8a8;
  font-size: 1em;
  text-align: center;
  font-weight: 100;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 3px solid rgba(255, 255, 255, 0.1);
  margin: 30px 0px;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1.1em;
  color: #a8a8a8;
  pointer-events: none;
  transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  border: none;
  font-size: 1em;
  padding: 0 35px 0 5px;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  line-height: 57px;
}

.btn {
  width: 100%;
  height: 45px;
  background: transparent;
  border-radius: 10px;
  border: 3px solid rgba(255, 255, 255, 0.1);
  outline: none;
  cursor: pointer;
  color: #a8a8a8;
  font-size: 1em;
  margin-top: 40px;
  transition: 0.5s;
}

.btn a {
  text-decoration: none;
  color: #a8a8a8;
}

.btn:hover {
  background-color: #a8a8a8;
  color: black;
}

.box {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #a8a8a8;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.blob {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 100%;
}

.blob:nth-child(2) {
  filter: blur(40px);
}

/* For After login page */
.wrapper-after-login {
  background-color: transparent;
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  width: 800px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.wrapper-after-login.smaller {
  height: 200px;
  margin-bottom: 20px;
}

.wrapper-after-login .btn,
.wrapper-after-login .input-box {
  margin: 20px 0 20px 0;
}

.wrapper-after-login.kaiber {
  height: 350px;
}

.wrapper-after-login.overview {
  height: 530px;
  width: 400px;
}

.wraper-for-video {
  display: flex;
  gap: 50px;
}
